@media (width > 768px) {
	.header {
		margin-bottom: 80px;
	}
}

@media (width <= 768px) {
	.header {
		margin-bottom: clamp(60px, 2.5573rem + 5.0891vw, 80px);
	}
}

.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
	padding: 30px 0;
	border-bottom: 1px solid #d3cbd9;
}

.contact {
	text-align: right;
}

.contact__text {
	margin-bottom: 8px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
}

.phone {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	-webkit-transition: color var(--transition-time);
	-o-transition: color var(--transition-time);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.phone:hover {
		color: var(--accent-color);
	}
}
