.hero {
	position: relative;
}

.hero::before {
	content: "";
	display: block;
	height: 48px;
	width: 100%;
	background-image: url(../../images/hero-decor-img.svg);
	position: absolute;
	bottom: 106px;
}

@media (width <= 992px) {
	.hero::before {
		display: none;
	}
}

.hero__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 28px;
}

@media (width <= 992px) {
	.hero__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

@media (width > 992px) {
	.hero__content {
		max-width: 492px;
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}
}

@media (width <= 992px) {
	.hero__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media (width <= 576px) {
	.hero__content {
		max-width: 380px;
	}
}

.hero__content-title {
	font-family: "Oswald";
	margin-bottom: 40px;
	font-weight: 600;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

@media (width > 992px) {
	.hero__content-title {
		font-size: 62px;
	}
}

@media (width >=576px) and (width <=992px) {
	.hero__content-title {
		font-size: 52px;
		text-align: center;
	}
}

@media (width <= 576px) {
	.hero__content-title {
		font-size: 42px;
		text-align: center;
	}
}

.hero__title-accent {
	color: var(--accent-color);
}

.hero__content-text {
	line-height: 1.3;
	color: #535755;
}

@media (width > 992px) {
	.hero__content-text {
		max-width: 439px;
		margin-bottom: 140px;
	}
}

@media (width <= 992px) {
	.hero__content-text {
		margin-bottom: 45px;
		text-align: center;
	}
}

.hero__content-button {
	padding: 19px 32px;
	max-width: 270px;
	background-color: var(--accent-color);
	font-weight: 500;
	font-size: 15px;
	line-height: 1.3;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border: none;
	cursor: pointer;
	-webkit-transition: opacity var(--transition-time);
	-o-transition: opacity var(--transition-time);
	transition: opacity var(--transition-time);
}

.hero__content-button:hover {
	opacity: 0.8;
}

.hero__button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.hero__images {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (width <= 1440px) {
	.hero__images img {
		width: 50%;
	}
}

.hero__images-text {
	position: absolute;
	top: 40px;
	left: 50%;
	-webkit-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	transform: translatex(-50%);
	font-weight: 400;
	line-height: 1.3;
	text-align: center;
	color: #2c332f;
	background-color: rgb(255, 255, 255, 0.9);
	border: 1px solid #535755;
}

@media (width > 576px) {
	.hero__images-text {
		padding: 22px;
		max-width: 161px;
	}
}

@media (width <= 576px) {
	.hero__images-text {
		padding: 8px;
		max-width: 120px;
		font-size: 14px;
	}
}
